ol,
ul {
  list-style: none;
}

.no-space-list {
  padding-left: 0;
}

li {
  margin: 0;
  padding: 0;
}

.park-page-background {
  background-image: url('./images/canyon.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
}

.park-info-container {
  display: grid;
  grid-template-columns: 300px auto;
  max-height: calc(100vh - 80px);
  overflow: scroll;
  border-radius: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 5%;
  margin-left: 5%;
}

@media (max-width: 900px) {
  .park-info-container {
    display: block;
  }
}

.loading-container {
  height: calc(100vh - 80px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(204, 188, 188, 0.92);
  margin-right: 5%;
  margin-left: 5%;
}

.loading-spinner-wrapper {
  height: 170px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}

.park-info {
  background: rgba(204, 188, 188, 0.92);
  padding: 25px 10px;
}

.info-section {
  margin-bottom: 2rem;
}

.park-left-nav-container {
  position: relative;
  background-color: rgba(200, 200, 200, 0.9);
}

.parks-page-background {
  background-image: url('./images/cliffsAndRoad.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  height: 100vh;
  overflow: scroll;
}
