.light-grey-background {
  background: rgba(215, 215, 215, 0.9);
}

.white-background {
  background: rgba(255, 255, 255, 0.9);
}

.paginated-select {
  padding: 3px !important;
}

.pagination {
  margin-top: 0px;
  margin-bottom: 0px;
}

.results-per-page {
  justify-content: center;
}

.results-per-page p {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.pagination-section {
  min-width: 700px;
}

.page-btns-container {
  justify-content: flex-end !important;
}

@media (max-width: 991px) {
  .results-per-page {
    justify-content: flex-start;
  }

  .page-btns-container {
    justify-content: flex-start !important;
    margin-top: 10px !important;
  }
}
