.page-btn {
  width: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

.page-btn:hover {
  cursor: pointer;
}

.not-active:hover {
  background: lightgray;
}

.active-page {
  background: blue;
  color: white;
}
