.park-left-nav {
  position: fixed;
  width: 300px;
  transition: all 0.3s linear;
}

@media (max-width: 900px) {
  .park-left-nav {
    overflow: hidden;
    background: rgba(200, 200, 200, 0.9);
    border-top-left-radius: 10px;
  }
}

.menu-open {
  height: calc(100vh - 80px);
}

.menu-closed {
  height: 0;
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.back-link i {
  margin-right: 10px;
}

.park-left-nav-top {
  padding: 10px;
}

.park-left-nav li {
  font-size: 1.5rem;
  padding-bottom: 20px;
  text-align: center;
}

.park-left-nav a {
  text-decoration: none;
  color: inherit;
  padding: 2px;
}

.park-left-nav a:hover {
  color: rgb(50, 50, 50);
}
