.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  position: fixed;
  transform: translate(15px, 10px);
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
  background: black;
}
