.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  position: fixed;
  transform: translate(5px, 5px);
  visibility: hidden;
  background: rgba(200, 200, 200, 0.9);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 38px;
  width: 2.5rem;
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
  background: black;
  margin: auto;
}

.top-line-open {
  transform: rotate(45deg);
}

.top-line-closed {
  transform: rotate(0);
}

.middle-line-open {
  transform: translateX(100%);
  opacity: 0;
}

.middle-line-closed {
  transform: translateX(0);
  opacity: 1;
}

.bottom-line-open {
  transform: rotate(-45deg);
}

.bottom-line-closed {
  transform: rotate(0);
}

@media (max-width: 900px) {
  .hamburger div {
    width: 1.6rem;
  }

  .top-line-open {
    width: 1.81rem !important;
  }

  .bottom-line-open {
    width: 1.81rem !important;
  }

  .hamburger {
    visibility: visible;
  }
}

@media (max-width: 500px) {
  .top-line-open {
    width: 2.1rem !important;
  }

  .bottom-line-open {
    width: 2.1rem !important;
  }
}
